* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#content {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}

#size-button {
  height: 5%;
  width: 10%;
  border-radius: 10px;
  align-self: flex-start;
  border: black 4px solid;
}

#container {
  height: 75%;
  aspect-ratio: 1 / 1;
  border: black 4px solid;
  display: flex;
  flex-wrap: wrap;
}

.box {
  border: rgb(128, 128, 128) 1px solid;
}

.hovered {
  background-color: black;
}
