* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}









#container {
  height: 75%;
  aspect-ratio: 1 / 1;
  border: black 4px solid;
  display: flex;
  flex-wrap: wrap;
}

.box {
  border: rgb(128, 128, 128) 1px solid;
}

.hovered {
  background-color: black;
}
