* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#content {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}

button {
  height: 72px;
  width: 120px;
  border-radius: 10px;
  border: black 4px solid;
}
#rainbow-button {
  color: yellow;
  font-weight: 900;
  width: 200px;
  background-color: red;
  border: 4px aqua solid;
}
#rainbow-button.clicked {
  color: purple;
  background-color: aqua;
  border: 4px red solid;
}

#container {
  height: 75%;
  aspect-ratio: 1 / 1;
  border: black 4px solid;
  display: flex;
  flex-wrap: wrap;
}

.box {
  border: rgb(128, 128, 128) 1px solid;
}

.hovered {
  background-color: black;
}
